.App {
  text-align: center;
  background-color: #ae7cfd;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: #7D7FF3;
  background: -webkit-radial-gradient(center, #7D7FF3, #4CC1B9);
  background: -moz-radial-gradient(center, #7D7FF3, #4CC1B9);
  background: radial-gradient(ellipse at center, #7D7FF3, #4CC1B9);
  min-height: 99vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 500px;
  border: 3px double rgb(114, 114, 114);
}

.App-link {
  color: #61dafb;
}
.webcam{
  border-radius: 500px;
  border: 5px dotted yellow;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
